<!DOCTYPE html>
<html lang="es">
    <%- include('template/cabecera', {tituloweb: 'Contacto EJS'}); %>

  <body>
    <%- include('template/header'); %>
    <h1>Hola a CONTACTO <%= titulo %></h1>
    <%- include('template/footer'); %>
  </body>

</html>