<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            Bootstrap header
          </a>
        </div>
    </nav>
</header>
